/* You can add global styles to this file, and also import other style files */
html{
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: 5px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a.bg-dark:focus, a.bg-dark:hover, button.bg-dark:focus, button.bg-dark:hover {
    background-color: transparent !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.561);
    width: 50%;
    font-weight: 700;
    margin: 0 auto;
}